@import "bootstrap";

body {
  background-color: antiquewhite;
}

.image-caption {
  font-size: 2em;
}

.image-full-size {
  max-width: 90%;
}

.image-small {
  width: 30%;
}

.image-circle {
  border-radius: 50%;
}

.photo-container {
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 80%;
  background-color: white;
}
